/* COMING SOON (#1) */
@media (max-width: 1023px) {
  .btn-142[data-slider-id=shop-slider] {
    top: unset;
    bottom: -10px;
  }

  .btn-142[data-slider-id=shop-slider].slider-prev {
    transform: translateX(calc(-50% - 100px));
  }

  .btn-142[data-slider-id=shop-slider].slider-next {
    transform: translateX(calc(50% + 100px));
  }
}
